header{
  position:fixed;
  display: flex;
  top:0px;
  height: var(--header_ancho) ;
  width: 100vw;
  background-color:var(--color_header);
}
.div-btns{
  display: block;
  width: 50%;
  margin-top: 1.2%;
  margin-left: 40%;
background-color: aqua;
}

.div-img{
display: block;
margin-left: 0%;
width: 7vw;
height: var(--header_ancho) ;
background-color: brown;

}
.img-ap{
  width: 7vw;
  height: var(--header_ancho) ;
}
